#Navbar {
  height: 60px;
  border-width: 1px;
  border-color: gray;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 17%);
  width: 100%;
  z-index: 100;
  position: fixed;
  background-color: white;
}

#web-name {
  display: block;
  font-size: 30px;
  list-style-type: disc;
  padding-inline-start: 20px;
  color: #000000;
}
